# CMake build output
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# CUDA / MSVC build artifacts
*.lib
*.exp
*.obj
*.pdb


# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
